h1 {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
  color: #306296;
  top: 4%;
  left: 42%;
  /*justify-content: center;*/
}

h6 {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  color: #306296;
  top: 15%;
  left: 34%;
}

.note {
  position: absolute;
  font-family: 'Lobster Two', cursive;
  font-size: 95px;
  color: #306296;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
