h1 {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
  color: #306296;
  top: 4%;
  left: 42%;
  justify-content: center;
}
